* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: hsl(218, 44%, 22%);
    --bg-color: hsl(212, 45%, 89%);
    --secondary-color: hsl(220, 15%, 55%);
    --border-color: hsl(0, 0%, 100%); 
}

body {
    background-color: var(--bg-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}

main {
    text-align: center;
    background-color: var(--border-color);
    padding: 0.75rem;
    border-radius: 0.75rem;
    width: 300px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--border-color);
}

img {
    width: 100%;
    border-radius: 1rem;
}

h1 {
    font-weight: 700;
    font-size: 22px;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

p {
    font-weight: 400;
    font-size: 15px;
    color: var(--secondary-color);
}

.attribution {
    font-size: 11px; 
    text-align: center; 
    color: var(--primary-color);
    margin-top: 10px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}